<footer class="bg-[#D5CEFD] text-black py-16 " style = "width :100%;">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="grid grid-cols-1 md:grid-cols-4 gap-8">
      <!-- Logo + mạng xã hội + thanh toán -->
      <div>
        <img src="images/logo.svg" alt="Logo" style="width:300px; height:auto;" class="mb-6" />
        <p class="text-white-300 mb-4 font-baloo text-2xl">
          Nền tảng luyện tập tài liệu và ôn tập
        </p>

        <!-- Mạng xã hội -->
        <div class="flex gap-6 mt-6">
          <a href="https://facebook.com" target="_blank" class="text-blue-600 text-3xl hover:opacity-80 transition"><i class="fab fa-facebook"></i></a>
          <a href="https://tiktok.com" target="_blank" class="text-white text-3xl hover:opacity-80 transition"><i class="fab fa-tiktok"></i></a>
          <a href="https://youtube.com" target="_blank" class="text-red-600 text-3xl hover:opacity-80 transition"><i class="fab fa-youtube"></i></a>
        </div>

        <!-- Thanh toán -->
        <div class="border-t border-white-700 mt-12 pt-8">
          <h3 class="text-lg font-bold text-black mb-2 font-baloo">Phương thức thanh toán</h3>
          <div class="flex gap-4">
            <img src="/images/momo_logo.png" alt="Momo" class="payment-icon w-14 rounded-lg" />
          
          </div>
        </div>
      </div>

      <!-- Cột sản phẩm & dịch vụ -->
      <div class="mt-6 md:mt-0 ml-20 whitespace-nowrap text-center">
        <h4 class="font-semibold mb-4 font-baloo text-2xl ">Tổng quan</h4>
        <ul class="space-y-4 text-xl ">
          <li><a href="/" class="hover:text-white ">Giới thiệu</a></li>
          <li><a href="#" class="hover:text-white">Tính năng gói dịch vụ</a></li>
          <li><a href="#" class="hover:text-white">Gói dịch vụ</a></li>
        </ul>
      </div>

      <!-- Tài nguyên -->
      <div class = "ml-40 whitespace-nowrap">
        <h4 class="font-semibold mb-4 font-baloo text-2xl ">Điều hướng nhanh</h4>
        <ul class="space-y-4 text-xl text-center ml-8">
          <li><a href="#" class="hover:text-white">Đăng kí </a></li>
          <li><a href="#" class="hover:text-white">Đăng nhập</a></li>
          <li><a href="#" class="hover:text-white">Thư viện bài học</a></li>
        </ul>
      </div>
      

      <!-- Chính sách -->
      <div class="ml-40 whitespace-nowrap text-center">
        <span class="block font-semibold mb-4 font-baloo text-2xl ">Liên hệ</span>
        <ul class="space-y-4 text-xl">
          <li><a href="#" class="hover:text-white">Q&A</a></li>
          <li><a href="#" class="hover:text-white">Hotline</a></li>
        
        </ul>
      </div>
    </div>

    <!-- Copyright -->
    <div class="border-t border-white-700 mt-12 pt-8">
      <p class="text-center text-white-400 font-semibold">© 2025 IZQuiz. All rights reserved.</p>
    </div>
  </div>
</footer>