@page "/verify-fail"


@using System.ComponentModel.DataAnnotations
<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Baloo+2&display=swap" rel="stylesheet" />
    <link href="./css/main.css" rel="stylesheet" />
    <title>Document</title>
</head>
<body>
    <div class="v568_2266">

        <span class="v568_2269" style ="margin-left:50px; ">Xác nhận thất bại</span>
        <div class="v568_2309">
            <div class="v568_2271">
            <div clas =" content" style = "margin-top:60px;margin-bottom :40px;"> 
             Vui lòng xác nhận lại  
            </div>
            
           
            </div>
            <a class="v568_2331 " href="/reset-password">Xác nhận lại</a>
            


        
             
        </div>

    </div>
</body>
</html>
<style>
    * {
        box-sizing: border-box;
    }

    body {
        font-size: 14px;
    }

    .btn {
        background: white;
        position: absolute;
        top: 230px;
        right: 200px;
        width: 50%;
        height: 55px;
        border-radius: 20px;
        background: #A57DBA;
        color: white;
        font-weight: 600;
        font-size: 30px;
        font-style: Baloo 2;
    }

        .btn:hover {
            background-color: white;
        }

    .v568_2266 {
        width: 100%;
        height: 934px;
        background: rgba(255,255,255,1);
        opacity: 1;
        position: absolute;
        top: 0px;
        left: 0px;
        overflow: hidden;
    }

    .v568_2269 {
        width: 307px;
        color: #000000;
        position: absolute;
        top: 153px;
        left: 566px;
        font-family: Baloo 2;
        font-weight: SemiBold;
        font-size: 40px;
        text-align: center;
        white-space: nowrap;
    }

    .v568_2309 {
        width: 1000px;
        height: 368px;
        background: url("../images/v568_2309.png");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        opacity: 1;
        position: absolute;
        top: 223px;
        left: 382px;
        overflow: hidden;
    }

    .v568_2271 {
        width: 80%;    
        height: 368px;
        background: rgba(29,5,157,1);
        opacity: 1;
        position: absolute;
        top: 0px;
        left: 0px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        overflow: hidden;
        text-align :center;
          font-family: Baloo 2;
        font-weight: Regular;
        font-size : 24px;
        color : white;
       
    }

    .v568_2331 {
        width: 238px;
        color: rgba(255,255,255,1);
        position: absolute;
        top: 100px;
        left: 280px;
        font-family: Baloo 2;
        font-weight: Regular;
        font-size: 24px;
        opacity: 1;
        text-align: center;
        text-decoration: underline;
    }

    .v568_2283 {
        width: 402px;
        color: rgba(0,0,0,0.6000000238418579);
        position: absolute;
        top: 0px;
        left: 0px;
        font-family: Baloo 2;
        font-weight: Medium;
        font-size: 16px;
        opacity: 1;
        text-align: left;
    }

    .v568_2304 {
        width: 276px;
        height: 55px;
        background: url("../images/v568_2304.png");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        opacity: 1;
        position: absolute;
        top: 216px;
        left: 200px;
        overflow: hidden;
    }

    .v568_2306 {
        width: 175px;
        color: rgba(255,255,255,1);
        position: absolute;
        top: 17px;
        left: 53px;
        font-family: Baloo 2;
        font-weight: SemiBold;
        font-size: 30px;
        opacity: 1;
        text-align: center;
    }

    .v568_2308 {
        width: 526px;
        color: rgba(255,255,255,1);
        position: absolute;
        top: 128px;
        left: 70px;
        font-family: Baloo 2;
        font-weight: Regular;
        font-size: 24px;
        opacity: 1;
        text-align: center;
        bottom:40px;
    }

    .name {
        color: #fff;
    }

    .form-group {
        margin-bottom: 25px;
        position: relative;
        z-index: 1;
    }

    .form-control {
        border: 2px solid #e0e0e0;
        border-radius: 20px;
        padding: 15px 30px;
        font-size: 16px;
        font-family: 'Baloo 2', cursive;
        font-weight: 500;
        transition: all 0.3s ease;
        background: #D5CEFD;
        width: 100%;
    }
</style>
@code {
  
}